@import "../../constants/colours.scss";

.menu-item {
    padding: 10px 16px;
    list-style: none;
    margin-bottom: 5px;
}

.menu-item:hover {
    background-color: $dark-gray;
}

.menu-item-selected {
    background-color: $blue-color !important;
    color: $white;
}