@import "../../constants/colours.scss";

.rippleAnimation {
    position: relative;
    overflow: hidden;
}

.rippleDiv {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.ripple {
  width: 2px;
  height: 2px;
  position: absolute;
  border-radius: 50%;
  animation: rippleEffect 0.5s ease-in-out;
  //background-color: rgba(255, 255, 255, 0.6);
}

.ripple-blue {
  background-color: rgb(189, 211, 239);
}

.ripple-pink {
  background-color: $light-pink-ripple;
}


@keyframes rippleEffect {
  0% {
    transform: scale(1);
  } 
  100% {
    opacity: 0;
    transform: scale(var(--scale));
  }
}