$white: white;

//Pink

$pink-color: rgb(218, 13, 81);
$pink-color-active: rgb(142, 27, 56);
$light-pink-ripple: rgb(242, 170, 193);
$pink-focus: rgb(240, 152, 184);

// Blue

$blue-color: rgb(53, 119, 204);
$blue-color-active: rgb(36, 83, 143);
$light-blue-ripple: rgb(189, 211, 239);
$blue-focus: rgb(165, 199, 236);
$blue-switch: rgb(131, 172, 227);

// gray

$dark-gray: rgb(230, 230, 230);
$light-gray: rgb(242, 242, 242);
$black-gray: rgb(142, 142, 142);

// Black
$light-black: rgb(98, 98, 98);

//Red 
$light-red: rgb(238, 43, 41);

// Box shadow
$black-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

